body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  .header-area{
    display: flex;
    padding: 50px;
    background-color: rgb(11, 11, 156);
    color: white;
  }
  h1{
    margin: 0;
    padding: 0;
  }
  .header-text{
    padding-left: 100px;
    padding-top: 50px ;
    font-size: 54px;
    font-weight: 700;
  }
   .header-text, .header-image{
    width: 50%;
  } 
  .header-image img{
    width: 100% ;
  }
  .header-image{
    transition: transform 1s;
  }
  .header-area:hover .header-image{
    transform: rotate(360deg);
  }
  .watch-button{
    background-color: #AAAAAA;
    padding: 10px 30px;
    border: none;
   
  }
  .watch-button:hover{
    width: 150px;
    height: 35px;
  
  }
  .watch-button a{
    text-decoration: none;
    color: white;
  }
  .fas fa-arrow-right{
    color: white;
  }
  /* main area style */
  .players-container{
    margin: 100px 15%;
  }
  .players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .players img{
    width: 100%;
  }
  .player{
    margin: 15px;
    padding: 15px;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
  /* footer */
  
  .footer-area{
    margin: 100px 30% 50px;
  
  }
  
  .footer-image img{
    width: 100%;
    margin: 20px 0px;
  }
   .footer-icon{
    margin: 0px 32%;
   }
  .footer-text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px 30%;
    font-size: 18px;
   line-height: 24px;
     }
  .fab{
    margin: 0px 7px;
    font-size: 2em;
    color: rgb(177, 62, 192)
  }